*{
    margin: 0;
    font-family: 'work sans';
}
/*header part*/
.header{
    background-image: url(../images/banner/banner1.png);
    width: 1600px;
    height: 809px;
    background-repeat: no-repeat;

}
.header-title{
    font-weight: 700px;
    font-size: 65px;
    text-align: right;
    margin-top: 216px;
    margin-left: 876px;
    margin-right: 400px;
    position: absolute;
    width: 525px;
    height: 228px;

}
.paragraph{
    font-weight: 400px;
    font-size: 16px;
    text-align: right;
    color: #444343;
    position: absolute;
    margin: 468px 230px 263px 876px;
}
.btn-primary{
    position: absolute;
    border-radius: 5px;
    color: #ffffff;
    background: #fd6e0a;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    margin: 578px 230px 167px 876px;
}
.first-section{
    background-image: url(../images/person.png);
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    width: 1072px;
    height: 723px;
    left: 206px;
}
.section-title{
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-right: 450px;
    margin-left: 600px;
    margin-top: 200px;
    position: absolute;
    width: 288px;
    height: 94;

}
.first-section-paragraph-one{
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 250px;
    height: 100px;
    margin-top: 300px;
    margin-left: 600px;
    margin-bottom: 100px;
}
.second-section{
    margin: 130px;
    width: 1141px;
    height: 299px;

}
.second-section-header{
    text-align: center;
    
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;

}
.skill-container{
    display: flex;
    gap: 86px;
}
.skill{
    background:#ffffff;
    padding: 30px;
}
.skill-title{
    font-weight: 270px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;

}
.skill-description{
    color: #757575;


}
.hard-section{
    width: 1140px;
    height: 300px;
    margin-left: 230px;
    top: 2216.3px;
    
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    border-radius: 8px;
}
.hard-section-title{
    width: 495px;
    height: 94px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 25px;
}
.second-button{
    background: #ffffff;
    color: #fd6e0a;
    width: 160px;
    height: 64;
    padding-top: 18px;
    padding-left: 20px;
}
.contact{
    display: flex;
    background-color: black;
}
.contact-description{
    color: #ffffff;
}
.contact-p{
    color: #ffffff;
}
.contact input[type="email"]{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
